APP_HOST=127.0.0.1
APP_PORT=8000
DATA_DIR=./data
INFERENCE_BACKEND=mock
COMFYUI_URL=http://127.0.0.1:8188
COMFYUI_WORKFLOW=./workflows/sdxl_inpaint_api.json
COMFYUI_TIMEOUT_SECONDS=300
COMFYUI_POLL_INTERVAL_SECONDS=1
SAM2_URL=http://127.0.0.1:8190
SAM2_TIMEOUT_SECONDS=120
CROP_PADDING_RATIO=0.5
MIN_CROP_EDGE=512
MAX_MODEL_EDGE=1024
MAX_MASK_TILE_SPAN=384
